# Root .gitignore file for the monorepo

# Node modules for all packages
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
# frontend/dist/
# backend/dist/
# frontend/dist-ssr/
*dist*/
backend/*.js
backend/api/*.js
backend/tests/*.js

# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
